[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twitchio = "*"
logbook = "*"
orm = {extras = ["sqlite"], version = "~=0.2"}
quart = "==0.8.1"
hypercorn = "==0.6.0"
irc3 = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
bot = "python bot.py"
